<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Survey</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Programming Language Survey</h1>
    <div id="language-table">
      <ul>
        <% for (var i=0; i < languages.length; i++) { %>
          <% console.log(languages[i].language); %>
          <li><%=languages[i].language%></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>